#root {
	padding: 50px 50px 50px 100px;
}

.flex-container {
	display: flex;
}

.vertical-flex-container {
	display: flex;
	flex-direction: column;
}

/********************************
* Search Form
********************************/
.search-form-section {
	padding-top: 10px;
}

.input-styles {
	padding: 5px;
	font-size: 14px;
	color: white;
	background-color: #343a40;
	border: 1px solid #ced4da;
	border-radius: 5px;
}

.search-form-section-label, .checkboxes-section-label {
	flex-basis: 150px;
	align-self: center;
	font-weight: 600;
}

.search-item-input {
	width: 288px;
}

.checkboxes-section-label {
	align-self: flex-start;
}

.checkbox-label {
	color: #343a40;
}

.search-form-section select {
	flex-basis: 300px;
}

.search-button {
	margin-top: 10px;
	padding: 5px;
	width: 80px;
	border-radius: 5px;
	color: white;
	background-color: #343a40;
	border-color: #343a40;
}

.search-button:hover {
  background-color: #000000;
	border-color: #000000;
	cursor: pointer;
}

/********************************
* Search Recommendation
********************************/

.search-recommendation {
	font-size: 14px;
	line-height: 18px;
	color: lightgray;
	background-color: #343a40;
	width: 430px;
	margin-top: 10px;
	padding: 10px;
	border-radius: 5px;
}

.search-recommendation-text {
	flex-grow: 1;
}

.search-recommendation-close:hover {
	cursor: pointer;
}

/********************************
* Display Result
********************************/

.post-card {
	color: lightgray;
	background-color: #343a40;
	margin: 15px 0px 0px 0px;
	padding: 15px 15px 15px 15px;
	border-radius: 10px;
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.thread-title {
	margin-bottom: 10px;
	font-weight: 600;
}

.thread-details {
	margin-bottom: 10px;
	font-size: 14px;
	color: white;
}

.thread-detail-item {
	margin-right: 10px;
	align-self: center;
}

.thread-flair {
	background-color: grey;
	padding: 2px 5px 2px 5px;
	border-radius: 2px;
}

.thread-post {
	background-color: rgb(5, 5, 5);
	margin-top: 10px;
	padding: 10px 10px 10px 15px;
	border-radius: 10px;
}

.thread-comment {
	background-color: rgb(25, 25, 25);
	margin-top: 10px;
	padding: 10px 10px 1px 15px;
	border-radius: 10px;
}

.comment-details {
	font-size: 12px;
	color: white;
}

.comment-detail-item {
	margin-right: 10px;
}

.toggle-button {
	color: lightgray;
	background-color: transparent;
	border: 0px;
	outline: none;
	padding-left: 0px;
	width: 25px;
}

/********************************
* Stock Quote
********************************/
.stock-quote-card {
	background-color: rgb(25, 25, 25);
	color: lightgray;
	margin: 5px 0px 5px 0px;
	padding: 10px 15px 10px 15px;
	border-radius: 10px;
}

.mentioned-tickers-label {
	display: inline-block;
	padding: 2px 5px 2px 0px;
}

.quote-heading {
	margin-bottom: 10px;
}

.quote-close-btn {
	float: right;
}

.quote-close-btn:hover {
	cursor: pointer;
}

.quote-stat {
	flex-basis: 20%;
	margin-bottom: 10px;
}

.mentioned-ticker {
	display: inline-block;
	padding: 2px 5px 2px 5px;
	border-radius: 2px;
}

.mentioned-ticker:hover {
	cursor: pointer;
	background-color: rgb(25, 25, 25);;
}