body {
	margin: 0px;
	background-color: rgb(150, 150, 150);
}

#root {
	padding: 0px 50px 10px 100px;
}

.flex-container {
	display: flex;
}

.vertical-flex-container {
	display: flex;
	flex-direction: column;
}

.red-text {
	color: red;
}

/********************************
* Navigation
********************************/
.navigation {
	position: sticky;
	top: 0px;
	margin: 0px -50px 0px -100px;
	padding-left: 100px;
	height: 35px;
	color: white;
	background-color: rgb(65, 65, 65);
}

.navigation-item {
	padding-top: 8px;
	width: 150px;
	font-size: 18px;
	text-align: center;
	border-radius: 5px;
}

.navigation-item:hover {
	cursor: pointer;
	background-color: rgb(45, 45, 45);
}

/********************************
* Reddit Search Form
********************************/
.search-form-div {
	position: sticky;
	top: 35px;
	padding: 0px 0px 10px 10px;
	background-color: rgb(120, 120, 120);
	border: lavender 2px solid;
}

.form-column {
	width: 340px;
	margin-right: 50px;
}

.search-form-section {
	padding-top: 10px;
}

.input-styles {
	font-size: 14px;
	color: white;
	background-color: #343a40;
	border: 1px solid #ced4da;
	border-radius: 5px;
}

.search-form-section-label, .checkboxes-section-label {
	width: 120px;
	align-self: center;
	font-weight: 600;
}

.checkboxes-section-label {
	align-self: flex-start;
}

.checkbox-label {
	color: lightgrey;
}

.input-text {
	height: 20px;
	width: 211px;
	padding-left: 5px;
}

.input-date {
	height: 22px;
	width: 213px;
	padding-left: 5px;
}

.search-form-section > select {
	height: 24px;
	width: 220px;
}

.search-button {
	margin-top: 10px;
	padding: 5px;
	width: 80px;
	border-radius: 5px;
	color: white;
	background-color: #343a40;
	border-color: #343a40;
}

.search-button:hover {
	background-color: #000000;
	border-color: #000000;
	cursor: pointer;
}

.search-button:disabled {
	background-color: #343a40;
	border-color: #343a40;
	cursor: not-allowed;
}

.search-in-progress {
	margin-left: 40px;
}

/********************************
* Stock Search Form
********************************/
.gray-text {
	color: gray;
}

.white-text {
	color:white;
}

/********************************
* Search Recommendation
********************************/

.search-recommendation {
	font-size: 14px;
	line-height: 18px;
	color: lightgray;
	background-color: #343a40;
	margin: 10px 20px 10px 0px;
	padding: 10px;
	border-radius: 5px;
}

.search-recommendation-text {
	flex-grow: 1;
}

.search-recommendation-close:hover {
	cursor: pointer;
}

/********************************
* Display Result
********************************/

.post-card {
	color: lightgray;
	background-color: #343a40;
	margin: 15px 0px 0px 0px;
	padding: 15px 15px 15px 15px;
	border-radius: 10px;
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.thread-title {
	margin-bottom: 10px;
	font-weight: 600;
}

.thread-details {
	margin-bottom: 10px;
	font-size: 14px;
	color: white;
}

.thread-detail-item {
	margin-right: 10px;
	align-self: center;
}

.thread-flair {
	background-color: grey;
	padding: 2px 5px 2px 5px;
	border-radius: 2px;
}

.thread-post {
	background-color: rgb(5, 5, 5);
	margin-top: 10px;
	padding: 10px 10px 10px 15px;
	border-radius: 10px;
}

.thread-comment {
	background-color: rgb(25, 25, 25);
	margin-top: 10px;
	padding: 10px 10px 1px 15px;
	border-radius: 10px;
}

.comment-details {
	font-size: 12px;
	color: white;
}

.comment-detail-item {
	margin-right: 10px;
}

.toggle-button {
	color: lightgray;
	background-color: transparent;
	border: 0px;
	outline: none;
	padding-left: 0px;
	width: 25px;
}

.toggle-button:hover {
	cursor: pointer;
}

/********************************
* Stock Quote
********************************/
.stock-quote-card {
	background-color: rgb(25, 25, 25);
	color: lightgray;
	margin: 5px 0px 5px 0px;
	padding: 10px 15px 10px 15px;
	border-radius: 10px;
}

.mentioned-tickers-label {
	display: inline-block;
	width: 120px;
	padding: 2px 0px 2px 0px;
}

.quote-heading {
	margin-bottom: 10px;
}

.quote-close-btn {
	float: right;
}

.quote-close-btn:hover {
	cursor: pointer;
}

.quote-stat {
	flex-basis: 20%;
	margin-bottom: 10px;
}

.mentioned-ticker {
	display: inline-block;
	padding: 2px 5px 2px 5px;
	border-radius: 2px;
}

.mentioned-ticker:hover {
	cursor: pointer;
	background-color: rgb(25, 25, 25);
}

/********************************
* Option Quote
********************************/
.option-quotes-div {
	margin-top: 10px;
}

.positions-label {
	width: 115px;
}

.option-display-open {
	margin: 5px 0px 5px 0px;
	padding: 5px 5px 0px 9px;
	background-color: rgb(25, 25, 25);
	border: lavender solid 1px;
	border-radius: 5px;
}

.option-display-close {
	display: inline-block;
	margin: 0px 0px 0px 5px;
	padding: 2px 5px 2px 5px;
	border-radius: 2px;
}

.option-display-close:hover {
	cursor: pointer;
	background-color: rgb(25, 25, 25);
}

.option-position {
	display: inline-block;
	width: 300px;
	margin-bottom: 15px;
	font-weight: 600;
}

.option-stat {
	width: 100px;
	margin-bottom: 10px;
}